.offer_container{
    display: flex;
    align-items: center;
    gap: 15px;
}

.offer_cards {
    max-width: 228px;
    text-align: center;
    border-radius: 16px;
    background: linear-gradient(180deg, #FE94A6 0.04%, #F2F2F2 65.84%);
}

.card_img {
    padding-top: 24px;
    padding-bottom: 16px;
}

.offer_card_title {
    padding-bottom: 8px;
    color: #100E0E;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.offer_card_text {
    color: #585656;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 99px;
}

.offer_card_btn {
    color: #0071E4;
    font-size: 18px;
    font-weight: 500;
    background-color: transparent;
    border-radius: 8px;
    padding: 17px 60px;
    border: 1px solid #0071E4;
    margin-bottom: 32px;
}

@media screen and (max-width:1100px) {
    .offer_container{
        flex-wrap: wrap;
        justify-content: center;
    }

}